/* register.css */

.btn-primary {
  background-color: #f6c4a6;
  border-color: #ffff;
}

.btn-primary:hover {
  background-color: #e1b398;
  border-color: #e1b398;
}

#nav_bar {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
}

#title {
  padding-bottom: 15px;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

#first-name {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

#last-name,
#class-year,
#email {
  padding-left: 30px;
  padding-right: 30px;
}

#password {
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

body {
  font-family: "American Typewriter", serif;
  background-image: url("../images/blue_chev2.png");
}

a:link {
  color: #a6a6a6;
}

a:visited {
  color: #a6a6a6;
}

a:hover {
  a: #c7c9cb;
}
